# source file https://raw.githubusercontent.com/airsonic/airsonic/master/contrib/airsonic.service
# install documentation : https://airsonic.github.io/docs/install/war-standalone/

[Unit]
Description=__APP__ Media Server
After=remote-fs.target network.target
AssertPathExists=__FINALPATH__

[Service]
Type=simple
Environment="JAVA_OPTS=-Xmx256m"
Environment="JAVA_ARGS="
EnvironmentFile=-/etc/default/__APP__
ExecStart=/usr/bin/java \
          $JAVA_OPTS \
          -Dairsonic.home=${AIRSONIC_HOME} \
          -Dserver.context-path=${CONTEXT_PATH} \
          -Dserver.port=${PORT} \
          -jar ${JAVA_JAR} $JAVA_ARGS
User=__APP__
Group=__APP__

[Install]
WantedBy=multi-user.target